In [2]:
import numpy as np 
a = np.array([[1, 2], [3, 4]]) 
print (a)

[[1 2]
 [3 4]]

In [3]:
import numpy as np 
a = np.array([1, 2, 3,4,5], ndmin = 2) 
print (a)

[[1 2 3 4 5]]

In [4]:
import numpy as np

a = np.array([1, 2, 3], dtype = complex) 
print (a)

[1.+0.j 2.+0.j 3.+0.j]

In [6]:
#SERIES: Series is a one-dimensional labeled array capable of holding data of any type 
import pandas as pd
data = np.array(['a','b','c','d'])

In [7]:
s=pd.Series(data)

In [8]:
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [9]:
#DATA FRAME: A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [13]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df)

        one       two     three
a  0.347459 -1.497045  1.499845
b       NaN       NaN       NaN
c  1.106204  1.248346  2.039825
d       NaN       NaN       NaN
e -0.959620 -0.688443  1.055009
f  0.213558  0.543408 -1.877949
g       NaN       NaN       NaN
h  0.743194  0.574226  1.398426

In [14]:
print (df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [15]:
df.fillna(0)

        one       two     three
a  0.347459 -1.497045  1.499845
b  0.000000  0.000000  0.000000
c  1.106204  1.248346  2.039825
d  0.000000  0.000000  0.000000
e -0.959620 -0.688443  1.055009
f  0.213558  0.543408 -1.877949
g  0.000000  0.000000  0.000000
h  0.743194  0.574226  1.398426

In [16]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print (df.fillna(method='pad'))

        one       two     three
a  0.990372  1.635004 -2.107874
b       NaN       NaN       NaN
c -1.202042 -0.071801 -1.180747
d       NaN       NaN       NaN
e  0.411798  1.690599  1.772079
f  0.012243 -1.727647  1.653428
g       NaN       NaN       NaN
h -0.763259  0.207201  0.428377
        one       two     three
a  0.990372  1.635004 -2.107874
b  0.990372  1.635004 -2.107874
c -1.202042 -0.071801 -1.180747
d -1.202042 -0.071801 -1.180747
e  0.411798  1.690599  1.772079
f  0.012243 -1.727647  1.653428
g  0.012243 -1.727647  1.653428
h -0.763259  0.207201  0.428377

In [17]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print("**************************")
print (df.dropna())

        one       two     three
a  0.472777 -0.571295  0.148650
b       NaN       NaN       NaN
c  0.281219  1.036553 -0.234930
d       NaN       NaN       NaN
e  0.079857  0.051748  0.799799
f -0.610914 -0.180573 -0.713612
g       NaN       NaN       NaN
h  0.783213 -0.416121  0.142679
**************************
        one       two     three
a  0.472777 -0.571295  0.148650
c  0.281219  1.036553 -0.234930
e  0.079857  0.051748  0.799799
f -0.610914 -0.180573 -0.713612
h  0.783213 -0.416121  0.142679

In [18]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000],
'two':[1000,0,30,40,50,60]})

In [19]:
df

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

In [20]:
print (df.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60